<div class="reddit-body">
  <div class="container">
    <div class="row">
      <hr />
      <div *ngFor="let item of items">
        <ul>
          <li>
            <a [routerLink]="['/items', item.id]">{{item.name}}</a>
            <button class="btn btn-outline-primary btn-sm"
                    [routerLink]="['/items', item.id, 'edit']">
              Edit
            </button>
          </li>
        </ul>
      </div>
<!--      <div class="col-md-9">-->
<!--        <app-post-tile [items]="items"></app-post-tile>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <app-side-bar></app-side-bar>-->
<!--        <app-subreddit-side-bar></app-subreddit-side-bar>-->
<!--      </div>-->

<!--      <a class="nav-link"-->
<!--         [routerLink]="['/items', 0, 'edit']"-->
<!--         routerLinkActive="active">Add Item</a>-->
      <a [routerLink]="['/items', 0, 'edit']">Add Item</a>
    </div>
  </div>
</div>
