<div class="row" style="margin-bottom: 10px;">
  <div *ngFor="let item of items" class='col-md-6'>
    <div class='well hoverwell thumbnail'>
      <img [src]=" " [alt]="item?.name" class="event-image">
      <h2 [routerLink]="['/items', item.id]">{{item?.name | uppercase}}</h2>
      <button class="btn btn-outline-primary btn-sm"
              [routerLink]="['/items', item.id, 'edit']">Edit
      </button>
      <div>Date: some-date</div>
      <div>Time: some-time</div>
      <div>Price: {{item?.price | currency:'USD'}}</div>
    </div>
  </div>
</div>

